/*
!.gitignore
# unignore root
!.config/
# ignore everything under root
.config/*
# but not ignore spec subfolder under root
!.config/nvim/
# ignore everything under folder nvim
.config/nvim/*
# but not ignore spec file under nvim
!.config/nvim/coc-settings.json

